@tailwind base;
@tailwind components;
@tailwind utilities;


.heroSection{
    background-image: url("../src/assets/wave.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    /* background-size: cover; */
}